/*Header*/
.container-header{
    background-color: rgb(173, 0, 0) !important;
    
}
.navbar-primary{
    height: 73px;
}

.container-header .container-img .img-logo {
    width: 40px;
}

.container-header .container-fluid form{
    width: 60vw !important;
}

.container-header .navbar-secundary{
    background-color: rgb(241, 241, 241) !important;
}

/*Main*/
.container-main .container-cardcarousel  .carousel img{
    height: 20rem;
}

.container-main .banner-container img{
    width: 99vw;
}



/*Footer*/

.container-footer{
    background-color: gray;
    height: 360px;
}


.container-footer .redes-sociales svg{
    width: 25px;
    height: 25px;
}



