@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/*Header*/
.container-header{
    background-color: rgb(255, 255, 255) !important;
    font-family: "Crimson Text", serif;
}

.container-header .navbar-primary{
    height: 73px;
}

.container-header .navbar-primary .img-logo {
    width: 11vw;
}

.container-header .container-fluid form{
    width: 50vw !important;
    transition: 0.4s;
}

.container-header .container-fluid .form-control{
    background-color: rgb(238, 238, 238);
}

.container-header .navbar-primary svg{
    color: rgb(202, 77, 77);
    margin: 0px 1vw 0px 1vw ;

}

.container-header .navbar-secundary{
    background-color: rgb(241, 241, 241) !important;
}

.container-header .navbar-secundary #text-sucursales{
    text-decoration: underline;
    text-decoration-color: rgb(117, 43, 43);
}

.container-header .navbar-secundary a{
    color:  rgb(122, 25, 25) !important;
    font-weight: 500;
    transition: 0.8;
}

.container-header .navbar-secundary a:hover{
    transform: scale(1.05);
    transition: 0.8;
}

/* Main */

.container-main{
    font-family: "Playfair Display", system-ui;
}

.container-main .info-sucursales .card-title{
    font-family: "Bona Nova SC", serif;
    font-weight: 500;
    font-style: normal; 
}



/*Footer*/

.container-footer{
    background-color: rgb(163, 50, 50);
    color: white;
    height: auto;
    font-family: "Playfair Display", system-ui;
}

.container-footer .redes-sociales svg{
    width: 25px;
    height: 25px;
}

.container-footer .info-suscribir .suscribir{
    width: 45vw;
}

.container-footer .info-suscribir{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.container-footer .info-suscribir form{
    margin-left: 150px;
}

.container-footer .info a{
    text-decoration: none;
    color: white;
    display: block; /* Hace que los enlaces ocupen todo el ancho de su contenedor */
    padding: 5px;
}

/* ---Responsividad--- */

@media (min-width: 1024px) and (max-width: 1300px){

    /* Header */
    .container-header .navbar-primary .img-logo {
        width: 12vw;
    }

    /* Footer */
    .container-footer .info-suscribir form{
        margin: 15%;
        margin-bottom: 0px;
    }

    .container-footer .info-suscribir .info{
        margin-right: 0px !important;
    }
}

@media (min-width:862px ) and (max-width: 1025px) {

    /* Header */
    .container-header .navbar-primary{
        justify-content: space-around;
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
    }
    .container-header .navbar-primary .img-logo{
        margin-left: 10px;
        width: 15vw;
    }


    /* Footer */
    .container-footer .info-suscribir form{
        justify-content: center;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .container-footer .info-suscribir .info{
        margin-right: 0px !important;
        padding-right: 25px !important;
    }
}

@media (min-width:635px) and (max-width:862px){

    /* Header */
    .container-header .navbar-primary{
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
    }

    .container-header .navbar-primary .img-logo{
        margin-left: 10px;
        width: 15vw;
    }

    /* Footer */
    .container-footer .info-suscribir{
        display: grid;
        grid-template-columns: 12fr !important;
    }

    .container-footer .info-suscribir .suscribir{
        width: auto;
    }

    .container-footer .info-suscribir form{
        justify-content: center;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .container-footer .info-suscribir .info{
        margin-right: 5vw !important;
        margin-left: 5vw;
        padding-right: 0px !important;
    }
}

@media (min-width:425px) and (max-width:635px){

    /* Footer */
    .container-footer .info-suscribir{
        display: grid;
        grid-template-columns: 12fr !important;
    }

    .container-footer .info-suscribir .suscribir{
        width: auto;
    }

    .container-footer .info-suscribir form{
        justify-content: center;
        margin-left: 0px;
        margin-bottom: 0px;
    }

    .container-footer .info-suscribir .info{
        margin-right: 0vw;
        margin-left: 0vw;
        padding-right: 0px !important;
    }
}

@media (max-width: 426px) {

    /* Header */
    .container-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .container-header .navbar-primary {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    .container-header .navbar-primary .img-logo {
        width: 50%;
        margin-bottom: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .container-header .container-fluid form {
        width: 100%;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-header .navbar-primary svg {
        margin: 0 5px;
    }

    .container-header .navbar-secundary .container-button {
        width: 86vw;
        display: flex;
        justify-content: start;
    }

    /* Footer */
    .container-footer {
        padding: 20px 5px; 
        font-size: 12px;
        text-align: center;
        background-color: rgb(163, 50, 50);
    }

    .container-footer .redes-sociales {
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
    }

    .container-footer .redes-sociales svg {
        width: 18px;
        height: 18px;
        margin: 0 5px;
    }

    .container-footer .info-suscribir {
        display: block;
        grid-template-columns: 1fr;
        margin: 10px auto;
    }

    .container-footer .info-suscribir .suscribir {
        width: 90%;
        margin: 0 auto;
    }

    .container-footer .info-suscribir .info{
        margin-right: 0px !important;
        padding-right: 0px !important;
    }

    .container-footer .info-suscribir .info h5 {
        font-size: 1.1rem !important;
    }

    .container-footer .info-suscribir .info ul {
        list-style: none;
        padding-left: 0px;
    }

    .container-footer .info-suscribir form {
        width: 100%;    
        justify-content: center;
        margin: 0 auto;
    }

    .container-footer .info a {
        display: block;
        padding: 5px 0; 
        color: white;
        font-size: 12px;
        text-align: center;
    }
}
