/*Header*/
.container-header{
    background-color: rgb(255, 255, 255) !important;
}
.container-header .navbar-primary{
    height: 73px;
}

.container-header .navbar-primary .img-logo {
    width: 11vw;
}

.container-header .container-fluid form{
    width: 50vw !important;
    transition: 0.4s; 
}

.container-header .container-fluid .form-control{
    background-color: rgb(255, 255, 255);
}

.container-header .navbar-primary svg{
    color: rgb(202, 77, 77);
    margin: 0px 1vw 0px 1vw ;
    
}

.container-header .navbar-secundary{
    background-color: rgb(241, 241, 241) !important;
}

.container-header .navbar-secundary a{
    color:  rgb(48, 0, 0) !important;
    font-weight: 500;
}

/* Main */

.container-main .card{
    
}

/*Footer*/

.container-footer{
    background-color: rgb(163, 50, 50);
    color: white;
    height: auto;
}

.container-footer .redes-sociales svg{
    width: 25px;
    height: 25px;
}

.container-footer .info-suscribir{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-footer .info-suscribir form{
    margin-left: 180px;
}

.container-footer .info a{
    text-decoration: none;
    color: white;
    display: block; /* Hace que los enlaces ocupen todo el ancho de su contenedor */
    padding: 5px;
}